---
name: Check Milestones

permissions:
  pull-requests: read
  contents: read

on:
  push:
    paths:
      - "milestones/*.conf"
  pull_request:
    paths:
      - "milestones/*.conf"

jobs:
  check-milestones:
    runs-on: ubuntu-latest
    container:
      image: quay.io/centos/centos:stream8
    steps:
      - name: prepare env
        run: |
          dnf install -y --setopt=tsflags=nodocs git python3 python3-jinja2 epel-release
          dnf install -y --setopt=tsflags=nodocs python3-bugzilla python3-GitPython

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Check Milestone config files
        run: |
          mkdir -p exported-artifacts
          for config_file in $(git show --pretty="format:" --name-only | grep -E "^milestones/.*conf$")
          do
              if [[ -e "${config_file}" ]] ; then
                  python3 automation/check-milestone-previous.py "${config_file}"
                  release=$(basename "${config_file/.conf/}")
                  ./release_notes_git.py --contrib-project-list "${release}" > "exported-artifacts/${release}_notes.md"
              else
                  echo "Skipping ${config_file} since it has been removed."
              fi
          done

      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          path: exported-artifacts
